.titre{
    background-color: #FEEEDF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.sommaire{
    width: 400px;
    margin: auto;
    font-size: 25px;
}
.sommaire li{
    list-style-type: none;
}
.sommaire a {
    text-decoration: none;
    color: black;
}
h3{
    font-size: 25px;
    padding-left: 30px;
}
.structure, .middleware, .sauces, .authentification, .dependances, .securite, .conclusion{
    border-top: 1px solid grey;
    margin-top: 100px;
}
.explication-structure{
    display: flex;
    justify-content: center;
}
.explication-structure li{
    line-height: 65px;
}
.models-sauce{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.models-sauce p{
    margin-left: 40px;
    width: 300px;
}
.controllers-sauce{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.explications-ctrl{
    margin-left: 40px;
    width: 300px;
}
.list-ctrl-sauce{    
    line-height: 40px;
}
.routes-sauce{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.routes-sauce p{
    margin-left: 40px;
    width: 300px;
}
.models-authentification{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.models-authentification p{
    margin-left: 40px;
    width: 300px;
}
.controllers-authentification{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.explications-authentification{
    margin-left: 40px;
    width: 300px;
}
.list-authentification-sauce{    
    line-height: 40px;
}
.routes-authentification{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.routes-authentification p{
    margin-left: 40px;
    width: 300px;
}
.middle{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.middle p{
    margin-left: 40px;
    width: 300px;
}
.dependances-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.explication-dependances {
    margin-left: 40px;
    width: 400px;
}
.securite ul{
    width: 60%;
    margin: auto;
}
.securite li{
    list-style-type: none;
    margin-top: 20px;
}
.securite div img{
    width: 600px;
}
.securite div{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.secuetdiv{
    display: flex;
}
.para-conclu{
    width: 80%;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .titre, .sommaire{
        font-size: 20px;
        width: 100%;
    }
    .explication-structure img{
        height: 500px;
        width: 50%;
    }
    .explication-structure li{
        line-height: 15px;
    }
    .models-sauce p, .explications-ctrl, .routes-sauce p, .models-authentification p,
    .explications-authentification, .routes-authentification p, .middle p,
    .explication-dependances{
        width: 80%;
    }
    .models-sauce, .controllers-sauce, .routes-sauce, .models-authentification, .controllers-authentification, .routes-authentification,
    .middle, 
    .dependances-list{
        flex-direction: column;
    }
    .explication-dependances, .securite, .securite div img{
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .explication-structure li{
        line-height: 30px;
    }
    .models-sauce, .controllers-sauce, .routes-sauce, .models-authentification, .controllers-authentification, .routes-authentification,
    .middle, 
    .dependances-list{
        flex-direction: column;
    }
    .models-sauce p, .explications-ctrl, .routes-sauce p, .models-authentification p,
    .explications-authentification, .routes-authentification p, .middle p,
    .explication-dependances{
        width: 80%;
    }
    .explication-dependances, .securite, .securite div img{
        width: 100%;
    }
}